ENV=prod
GIN_MODE=release
TZ=Europe/Berlin

POSTGRES_HOST=envoy
POSTGRES_PORT_TLS=15432
POSTGRES_USER=shelfshare
POSTGRES_PASSWORD=shelfshare
POSTGRES_DB=shelfshare
POSTGRES_SSLMODE=require

ENVOY_PORT=15432
BOOKS_SERVICE_PORT=8080
