POSTGRES_DB=shelfshare_test
POSTGRES_USER=shelfshare_test
POSTGRES_PASSWORD=shelfshare_test_password
POSTGRES_PORT=15432
MONGO_INITDB_ROOT_USERNAME=shelfshare_test
MONGO_INITDB_ROOT_PASSWORD=shelfshare_test_password
MONGO_INITDB_DATABASE=shelfshare_test
